{% block avis %}

<h1><a href="./">Accueil</a></h1>

<form >

<div class="d-block">
<input type="checkbox" name="valeur" class="valeur" value="1">
<input type="checkbox" name="valeur" class="valeur" value="2">
<input type="checkbox" name="valeur" class="valeur" value="3">
<input type="checkbox" name="valeur" class="valeur" value="4">
<input type="hidden" value="" name="idEntreprise" class="idEntreprise">
</div>

<textarea class="d-block my-3" name="commentaire"></textarea>


</form>


<button class="envoieAvis" type="submit">Envoyer</button>

<div id="connection">
</div>


<div class="modal fade " id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content ">
        <div class="modal-header mx-auto ">
          
         <h1>Veuillez vous connecter</h1>
         
        </div>
        <div class="modal-body  font-weight-bold">
         <div class="row flex-column align-items-center">
            <input class="w-25" id="emailUser">
            <input class="w-25 my-3" id="passwordUser">
            <button  id="btnConnexion" type="submit" class="btn btn-info rounded w-25 mb-2">Connexion</button>
            <button class="btn btn-info w-25 rounded">Devenir membre</button>
         </div>
           
          </div>
        </div>
        <div class="modal-footer ">
        
        </div>
      </div>
      
    </div>
  </div>
  
</div>
    
{% endblock %}